<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  
   
    <!-- font awesome for the trashcan icon -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">    
   
    <title>{{{appName}}}</title>

    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <!-- Background by freepik sourced from Freepik (https://www.freepik.com/free-vector/hand-drawn-video-game-background_40484402.htm#fromView=search&page=1&position=45&uuid=ec03a981-b163-4ec6-b043-6d472b44d11c)-->
    <header>
        <div class="logo">
             <!-- Game controller logo by formycity found on veryicon (https://www.veryicon.com/icons/miscellaneous/ionicons/logo-game-controller-b-1.html)-->
            <img src="images/logo.png" class="header-logo">
            <h1>{{{appName}}}</h1>
        </div>

        <nav>
            <ul>
                <!-- conditional rendering based on variables - Is the user logged in?-->
                {{#if loggedIn}}
                <div class="user-info">
                    <li><a href="/">Home</a></li>
                    <li><a href="/profile">Profile</a></li>
                    <li><a href="/logout">Logout <span>{{user.username}}</span> </a></li>
                    
                        <!-- conditional rendering based on variables -->
                        <img src="{{#ifEqual user.avatar_url ''}}
                                        /avatar/{{user.username}}
                                    {{else}}
                                        {{user.avatar_url}}  
                                    {{/ifEqual}}"
                                    alt="User Avatar"
                                    class="header-avatar">
                    </div>
                {{else}}
                    <div class="navLinks">
                        <a href="/">Home</a>
                        <a href="/auth/google">Login/Register</a>
                    </div>
                {{/if}}
            </ul>
        </nav>
    </header>

    {{{body}}}

    <footer>
        <p>© {{{copyrightYear}}} {{{appName}}}. Background by freepik. All rights reserved.</p>
    </footer>
</body>
</html>