{{! Use the main layout }}
{{!< main }}

<link rel="stylesheet" href="/css/profile.css">

<div class="profile-container">
    <div class="profile-avatar">
        <!-- Path for the default avatar image -->
        <img src="/avatars/{{user.username}}.png" alt="{{user.username}}'s avatar" class="avatar">
    </div>
    
    <section class="profile-info">
        <!-- User profile info -->
        <p class = 'title'>User Profile</p>
        <p>Username: {{user.username}}</p>
        <p>Member Since: {{user.memberSince}}</p>
    </section>
</div>

<h2>Your {{{postNeoType}}}s</h2>

<section class="user-posts">
    {{#if user.posts.length}}
        <ul>
            {{#each user.posts}}
                 <li>
                    {{> post this user=../user}}           
                </li>
            {{/each}}
        </ul>
    {{else}}
        <p class='nothing'>No posts yet. :&#40;</p>
    {{/if}}
</section>
